image: ruby:2.7.1

variables:
  JEKYLL_ENV: production
  LC_ALL: C.UTF-8

before_script:
  - ruby --version
  - gem --version
  - bundle --version
  - gem install bundler
  - bundle --version
  - bundle install

test:
  stage: test
  script:
  - bundle exec jekyll build -d test
  artifacts:
    paths:
    - test
  except:
  - prod

pages:
  stage: deploy
  script:
  - bundle exec jekyll build -d public
  artifacts:
    paths:
    - public
  only:
  - prod
